openapi: 3.0.0

info:
  title: DCS Data API
  description: API for fetching crop sown records from DCS systems.
  version: 1.0.0

servers:
  - url: https://abc.gov.in/dcsag_tg/central-core-api/agristack/v1/api

paths:
  /misCentral/cropSownV2:
    post:
      summary: Get crop sown records
      description: Fetch paginated crop sown data for a season and year.

      parameters:
        - name: api-key
          in: header
          required: true
          description: API key used for authentication.
          schema:
            type: string
          example: YWdyaS1zdGFjayFAIyQlXiYqKClfKyabcd05

        - name: season
          in: header
          required: false
          description: Agricultural season filter.
          schema:
            type: string
            enum:
              - Rabi
              - Kharif
          example: Kharif

        - name: startYear
          in: header
          required: false
          description: Start year for filtering records.
          schema:
            type: string
          example: "2025"

        - name: endYear
          in: header
          required: false
          description: End year for filtering records.
          schema:
            type: string
          example: "2026"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CropSownRequest'

      responses:
        '200':
          description: Successful response

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CropSownResponse'

components:

  schemas:

    CropSownRequest:
      type: object
      title: Crop Sown Request

      properties:

        last_update_tsp:
          type: string
          nullable: true
          description: Timestamp used for incremental sync.
          example: ""

        year:
          type: string
          description: Range of the season in the form of year.
          example: "2025-2026"

        season:
          type: string
          description: Name of the agriculture season having a single value out of rabi, kharif, zaid.
          enum:
            - Rabi
            - Kharif
            - Zaid
          example: Rabi

        page_number:
          type: integer
          description: Current page number.
          example: 1

        page_size:
          type: integer
          description: Number of records to fetch per page.
          example: 3

        last_primary_id:
          type: integer
          description: Last processed primary id.
          example: 0

      required:
        - year
        - season
        - page_number
        - page_size

    CropSownResponse:
      type: object
      title: Crop Sown Response

      properties:

        status:
          type: string
          description: API response status.
          example: success

        code:
          type: integer
          description: HTTP response code.
          example: 200

        message:
          type: string
          description: Response message.
          example: Get records.

        method:
          type: string
          description: HTTP request method.
          example: POST

        data:
          type: object
          description: Response payload object.

          properties:

            page_number:
              type: integer
              description: Current response page number.
              example: 1

            page_size:
              type: integer
              description: Number of records returned in response.
              example: 3

            image_base_url:
              type: string
              description: Base URL used to download crop images.
              example: https://abc/dcsag_tg/crop-survey-api/agristack/v1/api/media/downloadFile/agristack/image/

            data:
              type: array
              description: List of crop sown records.

              items:
                $ref: '#/components/schemas/CropSownRecord'

    CropSownRecord:
      type: object
      title: Crop Sown Record

      properties:

        last_update_tsp:
          type: string
          format: date-time
          description: Record last update timestamp.

        is_deleted:
          type: boolean
          description: Indicates whether record is deleted.

        primary_id:
          type: integer
          description: Unique primary identifier.

        state_lgd_code:
          type: integer
          description: State LGD Code is the unique 2-Digit LGD code assigned to a State/UT.

        district_lgd_code:
          type: integer
          description: LGD code of the district where the respective land is available.

        sub_district_lgd_code:
          type: integer
          description: LGD code of the sub district where the respective land is available.

        village_lgd_code:
          type: integer
          description: LGD code of the village in which respective plot is available.

        farm_id:
          type: string
          description: Unique Farm ID of the land within the state.

        centroid_lat:
          type: number
          description: Plot centroid latitude.

        centroid_long:
          type: number
          description: Plot centroid longitude.

        survey_number:
          type: string
          description: |
            This field captures the complete Survey Number or Sub-Survey Number, including any alphabetical characters and delimiters, as applicable in the respective state. The terminology and format may vary by state—for example, it may be referred to as Khasra Number, Dak Number, Khatian Number, etc. Below are a few examples of how Survey/Sub-Survey Numbers may appear across different states:
                
                | State Name     | Survey/Sub-Survey Number Sample |
                | -------------- | ------------------------------- |
                | Assam          | 125                             |
                | Bihar          | 25                              |
                | Odisha         | 16/371                          |
                | Andhra Pradesh | 123/A/456                       |
                | Gujarat        | 697                             |

        sub_survey_number:
          type: string
          description: |
                  1. **State-Specific Decision**: Each state must determine its approach. If a state does not maintain **Sub-Survey Numbers**, all details should be provided under the `survey_number` field.  
                  2. **Multiple Sub-Survey Numbers**: If a state maintains **one or more sub-survey numbers**, they should be **concatenated** and captured in the `sub_survey_number` field.  
                  3. **Exception – Uttar Pradesh (UP)**: For states like **UP**, `sub_survey_number` is **not required**. Instead, the state should provide a **unique identifier** in the `survey_number` field.  
                  4. **Exception – Karnataka**: In the case of **Karnataka**, the **character portion of the Survey Number** and the **Hissa Number** should be **concatenated** and captured under `sub_survey_number`.

        plot_area:
          type: number
          description: Total Area of the farm plot.

        ulpin:
          type: string
          nullable: true
          description: ULPIN is a 14-digit alphanumeric unique ID assigned to every land parcel in India under the Digital India Land Records Modernization Programme (DILRMP).

        land_usage_type:
          type: string
          nullable: true
          description: Type of use of land either as Agriculture (A) or Non Agricultural (NA).

        area_unit:
          type: string
          description: Area measurement unit as Hectare or Acre.

        crop_sown_area_unit:
          type: string
          description: Crop sown area measurement unit.

        land_irrigation_source:
          type: string
          description: Source of irrigation.

        land_irrigation_type:
          type: string
          description: Irrigation type.

        crop_sowing_date:
          type: string
          format: date-time
          description: Crop sowing date.

        area_type_id:
          type: integer
          description: Area type identifier.

        crop_class_id:
          type: integer
          description: Crop class identifier.

        season:
          type: string
          description: Name of the agriculture season having a single value out of rabi, kharif, zaid.

        year:
          type: string
          description: Range of the season in the form of year.

        area:
          type: number
          description: Crop area.

        crop_code:
          type: string
          description: 7-digit Unique code of each crop as per central core registry.

        crop_name:
          type: string
          description: Crop name.

        status_code:
          type: integer
          description: Crop status code.

        irrigated_area:
          type: number
          description: Irrigated area.

        unirrigated_area:
          type: number
          description: Unirrigated area.

        crop_photo:
          type: array
          description: List of crop image file names.

          items:
            type: string

        na_area:
          type: number
          nullable: true
          description: Non-agricultural area.

        fallow_area:
          type: number
          nullable: true
          description: Fallow area.

        harvested_area:
          type: number
          nullable: true
          description: Harvested area.

        perennial_crop_area:
          type: number
          nullable: true
          description: Perennial crop area.

        biennial_crop_area:
          type: number
          nullable: true
          description: Biennial crop area.

        crop_sown_area_completed:
          type: number
          nullable: true
          description: Completed crop sown area.

        crop_sown_area_approved:
          type: number
          nullable: true
          description: Approved crop sown area.